@font-face {
  font-family: "get_schwifty";
  src: url(./fonts/get_schwifty.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  box-sizing: border-box;
}
body {
  background-color: #141414;
}
ul {
  list-style-type: none;
}
header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 27;
  background-color: #141414;
  padding: 0px 6em 0px 3.4rem;
  height: 68px;
  top: 0;
  justify-content: space-between;
}
.header_left {
  display: flex;
  align-items: center;
  height: 100%;
}
#header_netflix {
  height: 27px;
  justify-content: flex-start;
  cursor: pointer;
}
.first_ul {
  visibility: hidden;
}
#shown_li {
  visibility: visible;
}
#header_ul li {
  margin-left: 1em;
  display: inline;
  font-weight: 500;
}
#header_ul {
  margin-left: 1.4em;
}
#header_ul li a {
  text-decoration: none;
  color: white;
  opacity: 0.87;
  font-size: 0.9em;
  transition: all 0.4s;
}
#header_ul li a:hover {
  opacity: 0.5;
}
.header_right {
  display: flex;
  position: relative;
  margin: 15px 0px;
  align-items: center;
  align-content: flex-end;
  justify-content: center;
  width: auto;
}
.header_right > * {
  margin-left: 20px;
}
.header_right li {
  display: flex;
  align-items: center;
}
.second_ul {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

#img_header_right {
  height: 40px;
  margin-left: 2.7rem;
}
#shown_li:hover ~ ul {
  visibility: visible;
  opacity: 1;
}
.first_ul:hover i {
  transform: rotate(180deg);
}
.second_ul:hover {
  visibility: visible;
  opacity: 1;
}
#shown_bildirim_li #downsign {
  padding-left: 9px;
  transition: all 0.401s;
}

#shown_li #downsign {
  padding-left: 8px;
  transition: all 0.4s;
}
#bell {
  margin-left: 12px;
}
#bell,
#downsign,
#glass {
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
}

.form {
  position: relative;
}
.form input {
  margin-right: 0px;
}
#arama_kapatma {
  background-color: #141414;
  position: absolute;
  top: 0;
  color: #141414;
  height: 100%;
  width: 150px;
  left: 0;
  transition: all 0.5s;
  -webkit-transition: all 1.9s;
  text-align: right;
  vertical-align: middle;
  transition-delay: all 0.5s;
}
#glass {
  margin: 10px;
}
#glass:hover ~ div#arama_kapatma {
  position: absolute;
  text-align: center;
  width: 10px;
  left: -200px;
  margin: auto;
}
.form {
  align-items: center;
  display: flex;
}
.form input:focus ~ div#arama_kapatma {
  position: absolute;
  text-align: center;
  width: 10px;
  left: -200px;
  margin: auto;
}
.form input {
  margin-right: 10px;
  padding-top: 2px;
}
.form input:hover ~ div#arama_kapatma {
  position: absolute;
  text-align: center;
  width: 10px;
  left: -200px;
  margin: auto;
}

.p {
  color: white;
  font-weight: 100;
  font-size: 14px;
  padding-left: 10px;
  position: relative;
  letter-spacing: 1px;
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.4s;
}

.ul_images {
  height: 46px;
  padding-left: 5px;
}
.hdr2 {
  height: 200px;
  align-self: flex-start;
  margin-top: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.hdr2 * {
  margin: 0;
}
.hdr2 ul ul {
  width: 230px;
  margin-left: -50px;
  background-color: #141414;
}
.hdr2 ul ul li {
  padding-top: 10px;
}
.hdr2 ul ul li:hover {
  cursor: pointer;
}
.hdr2 > ul {
  width: 100px;
}
.users {
  color: white;
  font-size: 13px;
  font-weight: 600;
  opacity: 0.8;
  margin-left: 12px;
}
.hdr2 ul ul li:hover .users {
  opacity: 1;
  text-decoration: underline;
}
.profil {
  padding: 13px 0px 0px 0px;
}
.uldown {
  color: white;
  opacity: 0.8;
  font-size: 13px;
  font-weight: 500;
  margin: 0px 8px 0px 6px;
}
.logout {
  padding-bottom: 12px;
}
.uldown:hover {
  opacity: 19;
  text-decoration: underline;
}
.bildirim_ul1 {
  align-self: flex-start;
  margin-top: 8px;
  width: 30px;
  align-items: flex-start;
  justify-content: space-between;
}
.bildirim_ul2 li {
  padding: 10px 4px;
  transition: all 0.2s;
}
.bildirim_img {
  height: 70px;
  margin: 7px;
  width: 130px;
}
.bildirim_ul2 {
  padding-top: 0px;
  background-color: rgba(0, 0, 0, 0.81);
  margin-left: -400px;
  height: 450px;
  overflow: auto;
  visibility: hidden;
  transition: all 0.3s;
  opacity: 0;
  width: 500px;
}
.bildirim_ul2 li:hover {
  background-color: #141414;
}
.bildirim_ul2 li:hover p {
  opacity: 1;
}
.p2 {
  color: white;
  font-weight: 100;
  font-size: 17px;
  padding: 0px 7px;
  position: relative;
  opacity: 0.75;
  cursor: pointer;
  transition: all 0.4s;
}
.bildirim_tarih {
  font-size: 12px;
}
#shown_bildirim_li {
  padding-bottom: 23px;
}
#shown_bildirim_li:hover ~ ul,
.bildirim_ul2:hover {
  visibility: visible;
  opacity: 1;
}
#shown_bildirim_li:hover i[id="downsign"] {
  transform: rotate(180deg);
}

/* MAIN */
main {
  width: 100%;
}
#video {
  width: 100%;
  height: 95vh;
  object-fit: cover;
  z-index: -1;
}
.video_div {
  margin-top: 68px;
  position: relative;
}
.weird {
  position: absolute;
  left: 190px;
  top: 70px;
  font-family: "get_schwifty" !important;
  color: purple;
  font-size: 100px;
  line-height: 110px;
  opacity: 0.9;
  text-align: center;
  -webkit-text-stroke: 2px white;
}

#subtitle {
  color: white;
  position: absolute;
  opacity: 0.9;
  /* -webkit-text-stroke: 1px rgb(234, 236, 213); */
  background-color: rgba(14, 14, 14, 0.25);
  top: 550px;
  left: 10px;
  font-size: 2px;
  width: 40%;
  min-width: 20em;
  max-width: 30em;
  opacity: 0;
  transition: all 350ms;
  transition-delay: 330ms;
  visibility: hidden;
}
.video_title_div {
  position: absolute;
  height: 100%;
  width: 35%;
}
.hidden {
  visibility: hidden;
}
.button {
  width: 130px;
  height: 45px;
  text-align: justify;
  position: absolute;
  z-index: 1;
  border-radius: 15%;
  opacity: 0.9;
  transition: all 150ms;
}
.oynat {
  top: 440px;
  opacity: 0.8;
  left: 120px;
}
.button i {
  margin: 8px;
  font-size: 19px;
}
.button p {
  position: inline-block;
  display: inline-block;
  margin: 8px;
  font-size: 19px;
}
.bilgi {
  top: 440px;
  left: 290px;
  width: 220px;
  z-index: 1;

  background-color: rgba(109, 109, 110, 0.82);
}
.bilgi i {
  font-size: 22px;
  color: whitesmoke;
  margin-right: 6px;
}
.bilgi p {
  color: whitesmoke;
}
.bilgi:hover {
  background-color: rgba(109, 109, 110, 0.5);
}
.oynat:hover {
  opacity: 1;
}
.bilgi:hover ~ p[id="subtitle"] {
  visibility: visible !important;
  opacity: 1 !important;
  top: 500px !important ;
  left: 60px !important;
  font-size: 22px !important;
}

/* ALT  */
.titles {
  margin-top: 20px;
  border: none;
  background-color: transparent;
  margin-left: 80px;
  z-index: 12;
  width: 290px;
}
.titles1 {
  color: white;
  font-size: 27px;
  font-weight: 700;
}
.see_all {
  color: white;
  display: fixed;
  height: 30px;
  margin-top: -25px;
  width: 440px;
  font-size: 14px;
  margin-left: 0px;
  z-index: -5;
  visibility: hidden;
  opacity: 0.2;
  transition: all 500ms;
}
.see_all_short {
  margin-left: -30px;
}
.titles:hover .see_all {
  opacity: 1 !important;
  margin-left: 100px !important;
  visibility: visible;
}
.titles:hover .see_all_short {
  opacity: 1 !important;
  margin-left: 88px !important;
  visibility: visible;
}

.kapakfotolari_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 70px;
}
.img_divs {
  width: 223px;
  position: relative;
  height: 445px;
}
.kapakfotolari {
  width: 100%;
  z-index: 1;
  transition: all 500ms;
  height: 100%;
  position: absolute;
}
.img_divs:hover img {
  width: 120%;
  margin-left: -24px;
  margin-top: -43px;
  z-index: 21;
  height: 120%;
}

.img_divs:hover .resim_ {
  visibility: visible;
  transition-delay: 100ms;
  opacity: 1;
}

.resim_ {
  z-index: 30123123123123123123;
  position: absolute;
  bottom: 50px;
  transition: all 400ms;
  visibility: hidden;
  opacity: 0;
}
.img_divs:hover .resim_p {
  bottom: 5px;
  left: -12px;
}
.resim_p {
  bottom: 24px;
  left: -7px;
  font-size: 18px;
  color: white;
}
.resim_oynat {
  color: black;
  cursor: pointer;
  border-radius: 50%;
  left: -5px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 12px;
  font-size: 19px;
}
.resim_oynat:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.resim_arti {
  border-radius: 50%;
  cursor: pointer;
  color: white;
  left: 55px;
  border: 1px solid white;
  background-color: rgba(133, 133, 133, 0.1);
  padding: 12px;
}
.resim_arti:hover {
  background-color: rgba(133, 133, 133, 0.5);
}

.img_divs:hover .resim_oynat {
  left: -10px;
  bottom: 36px;
}
.img_divs:hover .resim_arti {
  left: 50px;
  bottom: 36px;
}

.resim_eslesme {
  bottom: 0;
  left: -3px;
  font-size: 17px;
}
.img_divs:hover .resim_eslesme {
  bottom: -22px;
  color: #46d369;
  left: -8px;
}
.time {
  font-size: 14px;
  color: white;
}
.img_divs:hover img {
  color: rgba(11, 11, 11, 0.2);
}
.img_divs:hover .for_background {
  width: 120%;
  height: 40%;
  bottom: -46px;left: -24px;
}
.for_background {
  left: -8px;
  bottom: -20px;
  width: 105%;
  height: 1%;
  z-index: 123;
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.52);*/
  background: linear-gradient(
    rgba(0, 0, 0, .0) 0%,
    rgba(0, 0, 0, .3) 20%,
    rgba(0, 0, 0, .5) 40%,
    rgba(0, 0, 0, .7) 70%,
    rgba(0, 0, 0, .7) 80%,
    rgba(0, 0, 0, .7)100%
  );
}
